body {
    font-family: sans-serif;
}
header{
    background-color: lightblue;
    padding: 5px;
    }
    h1{
        color: darkcyan;
        text-align: center;
}
footer{
    padding: 15px;
    background-color: greenyellow;
       
}
nav{
    padding: 15px;
    background-color: darkgoldenrod;

